fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
sqlalchemy
pandas
torch
transformers
scikit-learn
requests
urllib3>=2.2,<2.4
chardet>=3.0.2,<6
rich
httpx
pytest
python-jose[cryptography]
passlib[bcrypt]